@media screen and ( max-width: 1263px )
  html
    font-size: 12px
@media screen and ( max-width: 1200px )
  html
    font-size: 10px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5.9rem
  .card
    &__text
      margin-left: 0
@media screen and ( max-width: 570px )
  .container
    width: 95%
    max-width: 340px
  .menu
    &__logo
      font-size: 1.3rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      font-size: 1.25rem
    &__button
      display: none
  .title
    font-style: normal
    font-weight: normal
    font-size: 2.3rem
    max-width: 25.2rem
    line-height: 132.83%
  .hero
    padding-top: 11.1rem
    &__scroll-down
      display: none
    &__content
      max-width: 34rem
    &__text
      max-width: 32rem
      font-family: 'Futura Book', cursive
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 135.84%
      margin-top: 1.3rem
      margin-bottom: 3.4rem
    &__button
      display: block
      width: 99%
      margin-right: auto
      margin-left: auto
      margin-bottom: 2.7rem
      min-height: 5rem
      font-size: 1.4rem
      border-radius: 0
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  